@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Migra Italic;
  src: url('../../public/fonts/Migra-Italic-ExtralightItalic.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: Migra;
  src: url('../../public/fonts/Migra-Extrabold.ttf');
  font-weight: bolder;
}

:root {
  --back: #FDF9F3;
  --fore: #1E1E1E;
  --accent-1: #2D7296;
  --accent-2: #dca632;

  font-feature-settings: "liga" 1;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--back);
  color: var(--fore);
}